# --- Terraform State (Recursively) ---
**/.terraform/
*.tfstate*
.terraform.lock.hcl

# --- Generated Config (Recursively) ---
# The **/ prefix tells Git to look in every subfolder
**/backend.hcl
**/backend.ci.hcl
**/*.tfvars

# --- Tooling & Binaries ---
terraform-docs
tflint
trivy
aws/
awscliv2.zip
.cache/

# Ignore the local install of the layer libraries
infra/modules/vstshop/backend/layer/python/
# Ignore the generated zips
infra/modules/vstshop/backend/*.zip
