# Ignore the entire directory, not just the contents
**/.terraform/

# Use a more aggressive glob for state files
*.tfstate*

# Ignore the AWS CLI installer folder you downloaded earlier
aws/
awscliv2.zip

# Optional: Ignore the pre-commit cache if it's acting up
.cache/pre-commit/

# Ignore compressed archives
*.tar.gz
*.zip
*.7z

# Ignore binaries (like the ones we downloaded for tools)
terraform-docs
tflint
trivy

*.auto.tfvars
backend.hcl
