name: "VSTShop Deploy Dev"

on:
  push:
    branches: [ "feature/**", "dev" ]
    paths:
      - 'infra/workloads/dev/**'
      - 'infra/management/identity/**'
      - 'services/vstshop/**'
      - '.github/workflows/vstshop-deploy-dev.yml'
  pull_request:
    branches: [ "dev" ]
    paths:
      - 'infra/workloads/dev/**'
      - 'services/vstshop/**'
  workflow_dispatch:

permissions:
  id-token: write
  contents: read
  pull-requests: write

env:
  TF_DIR: "infra/workloads/dev/vstshop"
  SITE_DIR: "services/vstshop"
  AWS_REGION: "us-east-2"

jobs:
  setup:
    name: "Scrape Config"
    runs-on: ubuntu-latest
    outputs:
      gateway_role: ${{ steps.vars.outputs.gateway_role }}
      dev_role: ${{ steps.vars.outputs.dev_role }}
      mgmt_account: ${{ steps.vars.outputs.mgmt_account }}
      dev_account: ${{ steps.vars.outputs.dev_account }}
    steps:
      - uses: actions/checkout@v4
      - name: Extract Variables
        id: vars
        run: |
          echo "gateway_role=$(yq '.iam.gateway_role_name' config.yaml)" >> $GITHUB_OUTPUT
          echo "dev_role=$(yq '.iam.dev_execution_role_name' config.yaml)" >> $GITHUB_OUTPUT
          echo "mgmt_account=$(yq '.accounts.mgmt' config.yaml)" >> $GITHUB_OUTPUT
          echo "dev_account=$(yq '.accounts.dev' config.yaml)" >> $GITHUB_OUTPUT

  plan:
    name: "Terraform Plan"
    needs: setup
    runs-on: ubuntu-latest
    outputs:
      plan_stdout: ${{ steps.plan.outputs.stdout }}
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: true

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ needs.setup.outputs.mgmt_account }}:role/${{ needs.setup.outputs.gateway_role }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Role Chain to Dev
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ env.AWS_REGION }}
          role-chaining: true
          role-to-assume: arn:aws:iam::${{ needs.setup.outputs.dev_account }}:role/${{ needs.setup.outputs.dev_role }}

      - name: Terraform Init
        working-directory: ${{ env.TF_DIR }}
        run: terraform init -backend-config=../../../backend.ci.hcl

      - name: Terraform Plan
        id: plan
        working-directory: ${{ env.TF_DIR }}
        run: terraform plan -no-color -input=false

      - name: Update Pull Request
        uses: actions/github-script@v7
        if: github.event_name == 'pull_request'
        env:
          PLAN:
